<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Quotation - Calculator</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" />
    <link href="/stylesheets/index.css" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bg-body-tertiary {
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(248, 249, 250, 1) 85%), radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%),
          radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(112, 44, 249, 0.5), transparent 50%),
          radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
      }
    </style>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>

    <script>
      function funcMoreDetails() {
        if (!document.getElementById("num_adults").value.match(/\S/)) {
          document.getElementById("errmsg").innerHTML = "Please enter the number of adults.";
          const msgModel = new bootstrap.Modal("#checkInput", {
            keyboard: false,
          });
          msgModel.show();
          return;
        }

        if (!document.getElementById("num_children").value.match(/\S/)) {
          document.getElementById("errmsg").innerHTML = "Please enter the number of children.";
          const msgModel = new bootstrap.Modal("#checkInput", {
            keyboard: false,
          });
          msgModel.show();
          return;
        }

        var tra_dates = document.getElementById("travel_dates").value;
        if (!tra_dates.match(/\S/)) {
          document.getElementById("errmsg").innerHTML = "Please enter the number of dates.";
          const msgModel = new bootstrap.Modal("#checkInput", {
            keyboard: false,
          });
          msgModel.show();
          return;
        }

        for (let i = 1; i <= 10; i++) {
          var x = document.getElementById("DIV_DAY" + i);
          if (i <= parseInt(tra_dates)) {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        var x = document.getElementById("DIV_SUBMIT");
        x.style.display = "block";
      }
    </script>
  </head>

  <body class="d-flex flex-column align-items-center bg-body-tertiary">
    <!-- Modal -->
    <div class="modal fade" id="checkInput" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Error</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="errmsg">Error Message.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <header class="w-100 shadow px-0 sticky-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">Quotation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">Logout</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Access Logs</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="form-signin w-100 m-auto">
      <form method="post" action="/result">
        <img class="mb-4" src="/images/calculator-fill.svg" alt="" width="72" height="57" />
        <h1 class="h3 mb-3 fw-normal">Please enter your itinerary.</h1>

        <div class="form-floating">
          <input type="TXT_START" class="form-control" name="num_adults" id="num_adults" placeholder="" maxlength="3" oninput="value = value.replace(/[^0-9]+/i,'');" />
          <label for="num_adults">Number of adults</label>
        </div>
        <div class="form-floating">
          <input type="TXT_MID" class="form-control" name="num_children" id="num_children" placeholder="" maxlength="3" oninput="value = value.replace(/[^0-9]+/i,'');" />
          <label for="num_children">Number of children</label>
        </div>
        <div class="form-floating">
          <input type="TXT_END" class="form-control" name="travel_dates" id="travel_dates" placeholder="" maxlength="1" oninput="value = value.replace(/[^0-9]+/i,'');" />
          <label for="trave_dates">Travel Dates</label>
        </div>

        <button class="btn btn-primary w-100 py-2" id="more_details" type="button" onclick="funcMoreDetails()">More Details</button>
        <hr class="my-4" />

        <% for (var iDay=1; iDay <=10; iDay++) { %>
        <div id="DIV_DAY<%= iDay %>" style="display: none">
          <h1 class="h3 mb-3 fw-normal">Day <%= iDay %></h1>
          <div class="list-group">
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" name="D<%= iDay %>_ck_guide" type="checkbox" value="Y" />
              <span>
                Guide Service
                <small class="d-block text-body-secondary">Include 10H service, lunch allowance, transportation package.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" name="D<%= iDay %>_ck_lunch" type="checkbox" value="Y" />
              <span>
                Lunch Order Service
                <small class="d-block text-body-secondary">Include 1 lunch per person.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" name="D<%= iDay %>_ck_dinner" type="checkbox" value="Y" />
              <span>
                Dinner Order Service
                <small class="d-block text-body-secondary">Include 1 dinner per person.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="checkbox" name="D<%= iDay %>_ck_car" value="Y" checked />
              <span>
                Road Transportation
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 100%">
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_car" id="D<%= iDay %>_br_car_10h" value="10h" autocomplete="off" checked />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_car_10h">10H Charter</label>
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_car" id="D<%= iDay %>_br_car_shuttle" value="shuttle" autocomplete="off" />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_car_shuttle">Pickup Drop</label>
                </div>
                <small class="d-block text-body-secondary">10H charter service or pickup drop service.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="checkbox" name="D<%= iDay %>_ck_hotel" value="Y" checked />
              <span>
                Hotel Accommodation
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 100%; padding-bottom: 10px">
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_area" id="D<%= iDay %>_br_area_tokyo" value="tokyo" autocomplete="off" />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_area_tokyo">Tokyo Area</label>
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_area" id="D<%= iDay %>_br_area_other" value="other" autocomplete="off" checked />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_area_other">Other Area</label>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 100%">
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_hotel" id="D<%= iDay %>_br_hotel_lv3" value="3" autocomplete="off" checked />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_hotel_lv3">3 Star</label>
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_hotel" id="D<%= iDay %>_br_hotel_lv4" value="4" autocomplete="off" />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_hotel_lv4">4 Star</label>
                  <input type="radio" class="btn-check" name="D<%= iDay %>_br_hotel" id="D<%= iDay %>_br_hotel_lv5" value="5" autocomplete="off" />
                  <label class="btn btn-outline-primary" for="D<%= iDay %>_br_hotel_lv5">5 Star</label>
                </div>
                <small class="d-block text-body-secondary">Possible to have triple, twin sharing or double room.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="checkbox" name="D<%= iDay %>_ck_experiences" value="Y" />
              <span style="width: 100%">
                Tourist Experiences
                <!-- prettier-ignore -->
                <% for (var i=0; i < loop; i++) { %>
                <select class="form-select" name="D<%= iDay %>_dd_experiences" id="inputGroupSelect01">
                  <option value="" selected>Choose...</option>
                  <% tbProject.forEach((item)=> { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                  <% }); %>
                </select>
                <% } %>
                <small class="d-block text-body-secondary">Provide various travel experience services.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="checkbox" name="D<%= iDay %>_ck_ticket" value="Y" />
              <span style="width: 100%">
                Ticket Booking Service
                <!-- prettier-ignore -->
                <% for (var i=0; i < loop; i++) { %>
                <select class="form-select" name="D<%= iDay %>_dd_ticket" id="inputGroupSelect01">
                  <option value="" selected>Choose...</option>
                  <% tbTicket.forEach((item)=> { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                  <% }); %>
                </select>
                <% } %>
                <small class="d-block text-body-secondary">Provide various ticket booking services.</small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-2">
              <span style="width: 100%">
                <div class="form-floating">
                  <input type="number" class="form-control" name="D<%= iDay %>_num_other" id="D<%= iDay %>_trave_dates" placeholder="" maxlength="10" value="0" />
                  <label for="D<%= iDay %>_trave_dates">Additional Service Charges</label>
                </div>
                <small class="d-block text-body-secondary">Overtime service and additional service.</small>
              </span>
            </label>
          </div>
          <hr class="my-4" />
        </div>
        <% } %>

        <div id="DIV_SUBMIT" style="display: none">
          <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
        </div>

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
      </form>
    </main>
  </body>
</html>
